<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Campus Directory</title>
  </head>
  <body>
    <h1>Campus Directory</h1>
    <p>This directory lists each student along with the campus they will be attending.</p>
      <p>Click <a href="/campus_update">here</a> to update a student's campus.</p>
    <ul>
      <% @students.each do |student| %>
        <li><%= student['name'] %>, <%= student['campus'] %></li>
      <% end %>
    </ul>
  </body>
</html>
